.main {
    padding: 8px;
}

.input {
    padding: 10px;
}

.result{
    padding: 10px;
}

#resultTable {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

input[type="text"] {
  padding: 5px;
}

button {
  padding: 5px 10px;
}